* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    background-image: url('assets/radiant-green-bg.jpg');
    background-size: cover;
    color: #444;
}

h1 {
    background: yellow;
}

input {
    border: none;
    border-bottom: 1px solid #ddd;
    outline: none;
}

#to-do-list, #to-do-list-2 {
    background: white;
    position: relative;
    max-width: 350px;
    height: 450px;
    margin: 36px auto;

    padding: 24px;
}

.list-heading {
    display: flex;
    padding: 8px;
    padding-bottom: 16px;
    border-bottom: 1px solid #ddd;


    color: #35a79c;
}

.list-heading h3 {
    font-size: 42px;
}

.list-heading p {
    flex: 1;
    margin-left: 24px;
}

.list-content {
    padding-top: 8px;
    padding-bottom: 24px;
    overflow: scroll;
}

.list-subject {
    margin-bottom: 8px;
    font-size: 24px;
    text-align: center;
}

.task-detail {
    display: flex;
    align-items: center;
    padding: 8px;
}

.task-detail > div {
    flex: 1;
    margin-left: 12px;
}

.add-cta {
    width: 36px;
    height: 36px;
    border: 1px solid #35a79c;
    border-radius: 50%;

    font-size: 24px;
    vertical-align: center;
    color: #35a79c;
    cursor: pointer;
}
